body {
  background-color: #f9e79f;
}
h1 {
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}
#panier {
  position: absolute;
  top: 30px;
  right: 60px;
  font-size: 30px;
}
img {
  width: 100%;
  height: 500px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 120px;
}

article {
  height: 29rem;
  width: 20rem;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 5rem;
}
.produit img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 55%;
  margin-bottom: 0.5rem;
}

article p {
  text-align: center;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
}

article a {
  text-align: center;
  color: black;
}

.bloqueDescription {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background-color: dimgray;
  flex-direction: column;
}
#reseaux {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 20px;
}
#reseaux a {
  color: #f4d03f;
}

ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
li {
  margin-left: 40px;
}

section {
  display: flex;
  justify-content: center;
  height: 1000px;
  flex-wrap: wrap;
}
#produit {
  display: flex;
}

#cardsProduct {
  width: 80%;
  height: 800px;
}

#btnBasket {
  font-size: 30px;
}

#panierContent{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 120px;
  justify-content: space-between;

}





#imgRecap{
width: 80px;
height: 80px;

}

.btnSupp{
  height: 40px;
}

#containerFormulaire{
width: 200px;
height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}